# Ignore Rust target directories
/target

# Ignore Kvist settings
.kvist

# Ignore editor settings
.idea
.vscode
.zed

# Ignore temporal files
/*.txt
/*.log

# Ignore Gemini CLI deps
/node_modules
/package-lock.json
/package.json
